*{
    margin: 0;
    padding: 0;
}

article{
    width: 25%;
    background-color: lightblue;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}



